<ion-header>
  <ion-toolbar>
    <ion-title>createChat</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div>
    <form [formGroup]="postForm" (submit)="createChat()" novalidate>
      <ion-item color="black">
        <ion-label position="stacked">Title</ion-label>
        <ion-input
          type="text"
          formControlName="title"
          placeholder="title"
        ></ion-input>
      </ion-item>
      <ion-item color="black">
        <ion-label position="stacked"> imageUrl</ion-label>
        <ion-input
          type="text"
          formControlName="imageUrl"
          placeholder="imageUrl"
        ></ion-input>
      </ion-item>
      <div style="margin-top: 20px">
        <ion-button expand="block" type="submit">create</ion-button>
      </div>
    </form>
  </div>
</ion-content>
